<div class="two-block">
  <h4>SPECIAL SKILLS</h4>
  <table>
    <tr>
      <th class="width-55">Name</th>
      <th class="width-15">Trait</th>
      <th class="width-15">Adv</th>
      <th class="width-15">Skill</th>
    </tr>
    {% for item in character.skills|sort(attribute="name") %}
    <tr>
      <td class="width-55"><input class="input-text" type="text" name="skills_name_{{ item.id }}" value="{{ item.name }}"></td>
      <td class="width-15"><input class="input-text" type="text" name="skills_attribute_{{ item.id }}" value="{{ item.attribute }}"></td>
      <td class="width-15"><input class="input-number" type="number" name="skills_advances_{{ item.id }}" value="{{ item.advances }}"></td>
      <td class="width-15">{{ item.total }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td class="width-55"><input class="input-text" type="text" name="skills_name_new"></td>
      <td class="width-15"><input class="input-text" type="text" name="skills_attribute_new"></td>
      <td class="width-15"><input class="input-number" type="number" name="skills_advances_new"></td>
      <td class="width-15">save for value</td>
    </tr>
  </table>
</div>