<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Metamorphous|Shantell+Sans|Freehand|Oldenburg">
  <link rel="icon" href="{{ url_for('static', filename='figs/logo.png') }}">
  <title>RPG Character Sheet</title>
</head>
<body>
  <div class="base">
    <div class="nav-container">
      {% block navbar %}
      {% endblock navbar %}
      <p>Author: Jonas Eliasen Svane</p>
      <p>20/11/2024</p>
    </div>
    <div class="sheet-container">
      {% block content %}
      {% endblock content %}
    </div>
  </div>
</body>
</html>