{% extends "base.html" %}

{% block navbar %}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/{{ character.id }}/sheet-p1">Description & Trappings</a></li>
    <li><a href="/{{ character.id }}/sheet-p2">Skills & Talents</a></li>
    <li><a href="/{{ character.id }}/sheet-p3">Action</a></li>
    <li><a href="/{{ character.id }}/party-ledger">Party Ledger</a></li>
    <li><button form="page">Save Page</button></li>
  </ul>
{% endblock navbar %}

{% block content %}
<div class="page-container">
<form action="/{{ character.id }}/sheet-p3" method="post" class="page-form" id="page">
    <div class="flex-section">
      <div class="two-block">
        <div class="ap-container">
          <h4>ARMOR POINTS</h4>
          <img src="../static/figs/armorpoints.png" alt="armor points figure">
        </div>
      </div>
      <div class="two-block column">
        {% include 'battle_page/enc_wounds.html' %}
        {% include 'battle_page/ammunition.html' %}
        <div class="health-notes">
          <h4>COMBAT & HEALTH NOTES</h4>
          <textarea name="combat_health_notes" id="combat_health_notes">{{ character.text_fields.health_notes }}</textarea>
        </div>
      </div>
    </div>
    <div>
      {% include 'battle_page/weapons.html' %}
    </div>
    <div>
      {% include 'battle_page/armor.html' %}  <!-- Changed from armour.html to armor.html -->
    </div>
    <div>
      {% include 'battle_page/spells_and_prayers.html' %}
    </div>
  </form>
</div>
  
{% endblock content %}