{% extends "base.html" %}

{% block navbar %}
  <ul>
    <li><a href="/{{ character.id }}/sheet-p1">Description & Trappings</a></li>
    <li><a href="/{{ character.id }}/sheet-p2">Skills & Talents</a></li>
    <li><a href="/{{ character.id }}/sheet-p3">Action</a></li>
    <li><button form="page">Save Page</button></li>
  </ul>
{% endblock navbar %}

{% block content %}
<div class="page-container">
<form action="/{{ character.id }}/sheet-p2" method="post" class="page-form" id="page">
  <div>
    {% include 'skills_and_talents/characteristics.html' %}
  </div>  
  <div class="flex-section">
    {% include 'skills_and_talents/basic_skills.html' %}
    {% include 'skills_and_talents/special_skills.html' %}
  </div>
  <div>
    {% include 'skills_and_talents/talents.html' %}
  </div>
  </form>
</div>
{% endblock content %}