{% extends "base.html" %}

{% block navbar %}
  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" aria-current="page" href="/{{ character.id }}/sheet-p1">Description & Trappings</a></li>
    <li class="nav-item"><a class="nav-link" aria-current="page" href="/{{ character.id }}/sheet-p2">Skills & Talents</a></li>
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/{{ character.id }}/sheet-p3">Action</a></li>
    <li class="nav-item"><a class="nav-link" aria-current="page" href="/{{ character.id }}/party-ledger">Party Ledger</a></li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Reset</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/{{ character.id }}/reset-p1">Reset Description & Trappings</a></li>
        <li><a class="dropdown-item" href="/{{ character.id }}/reset-p2">Reset Skills & Talents</a></li>
        <li><a class="dropdown-item" href="/{{ character.id }}/reset-p3">Reset Action</a></li>
        <li><a class="dropdown-item" href="/{{ character.id }}/reset-ledger">Reset Party Ledger</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/{{ character.id }}/delete">Delete Character</a></li>
      </ul>
    </li>
  </ul>
{% endblock navbar %}

{% block content %}
<div class="page-container">
<form action="/{{ character.id }}/sheet-p3" method="post" class="page-form" id="page">
    <div class="flex-section part-container">
      <div class="two-block">
        <div class="ap-container">
          <h4>ARMOR POINTS</h4>
          <img src="../static/figs/armorpoints.png" alt="armor points figure">
        </div>
      </div>
      <div class="two-block column">
        {% include 'battle_page/enc_wounds.html' %}
        {% include 'battle_page/ammunition.html' %}
        <div>
          <h4>COMBAT & HEALTH NOTES</h4>
          <div class="grow-wrap">
            <textarea class="textarea" name="combat_health_notes" id="combat_health_notes" onInput="this.parentNode.dataset.replicatedValue = this.value">{{ character.text_fields.health_notes }}</textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="part-container">
      {% include 'battle_page/weapons.html' %}
    </div>
    <div class="part-container">
      {% include 'battle_page/armor.html' %}  <!-- Changed from armour.html to armor.html -->
    </div>
    <div class="part-container">
      {% include 'battle_page/spells_and_prayers.html' %}
    </div>
  </form>
</div>
  
{% endblock content %}