{% extends "base.html" %}

{% block navbar %}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/{{ character.id }}/sheet-p1">Description & Trappings</a></li>
    <li><a href="/{{ character.id }}/sheet-p2">Skills & Talents</a></li>
    <li><a href="/{{ character.id }}/sheet-p3">Action</a></li>
    <li><a href="/{{ character.id }}/party-ledger">Party Ledger</a></li>
    <li><button form="page" class="button">Save Page</button></li>
  </ul>
{% endblock navbar %}

{% block content %}
<div class="page-container">
  <form action="/{{ character.id }}/sheet-p1" method="post" class="page-form" id="page">
    {% include 'fluff_page/description_table.html' %}
    {% include 'fluff_page/fluff.html' %}
    {% include 'fluff_page/trappings_and_notes.html' %}
    {% include 'fluff_page/doom.html' %}
  </form>
</div>
{% endblock content %}