{% extends "base.html" %}

{% block navbar %}
<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
  <li class="nav-item"><a class="nav-link active" aria-current="page" href="/{{ character.id }}/sheet-p1">Description & Trappings</a></li>
  <li class="nav-item"><a class="nav-link" aria-current="page" href="/{{ character.id }}/sheet-p2">Skills & Talents</a></li>
  <li class="nav-item"><a class="nav-link" aria-current="page" href="/{{ character.id }}/sheet-p3">Action</a></li>
  <li class="nav-item"><a class="nav-link" aria-current="page" href="/{{ character.id }}/party-ledger">Party Ledger</a></li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Reset</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/{{ character.id }}/reset-p1">Reset Description & Trappings</a></li>
      <li><a class="dropdown-item" href="/{{ character.id }}/reset-p2">Reset Skills & Talents</a></li>
      <li><a class="dropdown-item" href="/{{ character.id }}/reset-p3">Reset Action</a></li>
        <li><a class="dropdown-item" href="/{{ character.id }}/reset-ledger">Reset Party Ledger</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/{{ character.id }}/delete">Delete Character</a></li>
      </ul>
    </li>
  </ul>
{% endblock navbar %}

{% block content %}
<div class="page-container">
  <form action="/{{ character.id }}/sheet-p1" method="post" class="page-form" id="page">
    {% include 'fluff_page/description_table.html' %}
    {% include 'fluff_page/xp_move_resilience.html' %}
    {% include 'fluff_page/fluff.html' %}
    {% include 'fluff_page/trappings_and_notes.html' %}
    <div class="part-container">
      <div class="padding flex-section">
        <h6 class="padding"><label for="doom">DOOM: </label></h6>
        <div class="grow-wrap width-90">
          <textarea name="doom" class="textarea" onInput="this.parentNode.dataset.replicatedValue = this.value">{{ character.text_fields.doom }}</textarea>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock content %}