{% extends 'base.html' %}

{% block title %}Characters{% endblock title %}
{% block navbar %}
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
    {% for char in characters %}
      <li class="nav-item"><a class="nav-link" aria-current="page" href="/{{ char.id }}/sheet-p1">{{ char.name }}</a></li>
    {% endfor %}
  </ul>
  {% endblock navbar %}
  
  {% block content %}
  <h1>Character sheet</h1>
  <p>Use this app to create and manage your characters for the game. Follow these steps:</p>
  <ol>
    <li>Use the form below to create a new character by entering a name and clicking "Create New".</li>
    <li>Click on a character's name in the navigation bar to view and edit their details.</li>
    <li>Navigate through the different sections (Description & Trappings, Skills & Talents, Action) to fill out all the necessary information for your character.</li>
    <li>Remember to save your changes by clicking the "Save Page" button on each page or hitting "Enter" from one of the number input fields.</li>
  </ol>
  <div class="w-75 mx-auto p-2">
    <form class="d-flex" action="/" method="post">
      <input class="form-control me-2" type="text" placeholder="New Character" name="new-name">
      <button class="btn btn-success" type="submit" id="create-new-character">Create New</button>
    </form>
  </div>
  <p>Have fun!</p>
  <p>
    Written & maintained by:
  </p>
  <p>
    - Jonas E. Svane
  </p>
{% endblock content %}