{% extends "base.html" %}

{% block navbar %}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/{{ character.id }}/sheet-p1">Description & Trappings</a></li>
    <li><a href="/{{ character.id }}/sheet-p2">Skills & Talents</a></li>
    <li><a href="/{{ character.id }}/sheet-p3">Action</a></li>
    <li><a href="/{{ character.id }}/party-ledger">Party Ledger</a></li>
    <li><button form="page">Save Page</button></li>
  </ul>
{% endblock navbar %}

{% block content %}
<div class="page-container">
  <form action="/{{ character.id }}/party-ledger" method="post" class="page-form" id="page">
    <div class="flex-section part-container">
      <div class="width-80">
        <h1>Ledger:</h1>
        {% if character.party.name %}
        <h2>{{ character.party.name }}</h2>
        {% endif %} 
      </div>
      <div>
        <h4>Total</h4>
        <h3>{{ character.party.gold }} Gold {{ character.party.silver }} Silver {{ character.party.brass }} Brass</h3>
      </div>
    </div>
    <div class="padding">
      <table>
        <thead>
          <tr>
            <th class="width-30">Who</th>
            <th class="width-40">What</th>
            <th class="width-10">Gold</th>
            <th class="width-10">Silver</th>
            <th class="width-10">Brass</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in character.ledger %}
          <tr>
            <td class="width-30"><input class="input-text" type="text" name="who_{{ entry.id }}" value="{{ entry.who }}"></td>
            <td class="width-40"><input class="input-text" type="text" name="what_{{ entry.id }}" value="{{ entry.what }}"></td>
            <td class="width-10"><input class="input-number" type="number" name="gold_{{ entry.id }}" value="{{ entry.gold }}"></td>
            <td class="width-10"><input class="input-number" type="number" name="silver_{{ entry.id }}" value="{{ entry.silver }}"></td>
            <td class="width-10"><input class="input-number" type="number" name="brass_{{ entry.id }}" value="{{ entry.brass }}"></td>
          </tr>
          {% endfor %}
          <tr>
            <td class="width-30"><input class="input-text" type="text" name="who_new"></td>
            <td class="width-40"><input class="input-text" type="text" name="what_new"></td>
            <td class="width-10"><input class="input-number" type="number" name="gold_new"></td>
            <td class="width-10"><input class="input-number" type="number" name="silver_new"></td>
            <td class="width-10"><input class="input-number" type="number" name="brass_new"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
{% endblock content %}
