<div class="flex-section">
  <div class="three-block">
    <h4 class="height-12">ENCUMBRANCE</h4>
    <table class="height-84">
      <tr>
        <th class="width-60">Weapons</th>
        <td>{{ character.get_encumbrance("weapons") }}</td>
      </tr>
        <th class="width-60">Armor</th>
        <td>{{ character.get_encumbrance("armor") }}</td>
      </tr>
      <tr>
        <th class="width-60">Trappings</th>
        <td>{{ character.get_encumbrance("trappings") }}</td>
      </tr>
      <tr>
        <th class="width-60">Strong Back</th>
        <td>{{ character.strong_back_enc_bonus or 0}}</td>
      </tr>
      <tr>
        <th class="width-60">Max Enc</th>
        <td>{{ character.get_attribute_bonus("s") + character.get_attribute_bonus("t") + (character.strong_back_enc_bonus or 0) }}</td>
      </tr>
      <tr>
        <th class="width-60">Total</th>
        <td>{{ (character.get_attribute_bonus("s") + character.get_attribute_bonus("t") + (character.strong_back_enc_bonus or 0)) - (character.get_encumbrance("weapons") + character.get_encumbrance("armor") + character.get_encumbrance("trappings")) }}</td>
      </tr>
    </table>
  </div>
  <div class="three-block">
    <h4 class="height-12">WOUNDS</h4>
    <table class="height-84">
      <tr>
        <th class="width-60">SB</th>
        <td>{{ character.get_attribute_bonus("s") }}</td>
      </tr>
      <tr>
        <th class="width-60">TB</th>
        <td>{{ character.get_attribute_bonus("t") * 2 }}</td>
      </tr>
      <tr>
        <th class="width-60">WPB</th>
        <td>{{ character.get_attribute_bonus("wp") }}</td>
      </tr>
      <tr>
        <th class="width-60">Hardy</th>
        <td>{{ character.hardy_wounds_bonus or 0 }}</td>
      </tr>
      <tr>
        <th class="width-60">Total</th>
        <td>
          {{ character.get_attribute_bonus("s") + character.get_attribute_bonus("t") * 2 + character.get_attribute_bonus("wp") + (character.hardy_wounds_bonus or 0) }}
        </td>
      </tr>
    </table>
  </div>
  <div class="three-block">
    <h4 class="height-12">CORRUPTION</h4>
    <table class="height-84">
      <tr>
        <th class="width-60">Threshold</th>
        <td>{{ character.corruption_threshold }}</td>
      </tr>
      <tr>
        <th class="width-60">Current</th>
        <td><input class="input-number" type="number" name="corruption" id="corruption" value="{{ character.base_mechanics.corruption or 0 }}"></td>
      </tr>
      <tr>
        <th class="width-60">Mutations</th>
        <td><input class="input-number" type="number" name="mutations" id="mutations" value="{{ character.base_mechanics.mutations or 0}}"></td>
      </tr>
      <tr>
        <th class="width-60">Mental</th>
        <td><input class="input-number" type="number" name="mental_mutations" id="mental_mutations" value="{{ character.base_mechanics.mental_mutations or 0 }}"></td>
      </tr>
      <tr>
        <th class="width-60">Physical</th>
        <td><input class="input-number" type="number" name="physical_mutations" id="physical_mutations" value="{{ character.base_mechanics.physical_mutations or 0 }}"></td>
      </tr>
    </table>
  </div>
</div>