<div class="flex-section">
  <div class="three-block">
    <h4>ENCUMBRANCE</h4>
    <table class="mechanics-table">
      <tr>
        <th>Weapons</th>
        <td>{{ character.get_encumbrance("weapons") }}</td>
      </tr>
        <th>Armor</th>
        <td>{{ character.get_encumbrance("armor") }}</td>
      </tr>
      <tr>
        <th>Trappings</th>
        <td>{{ character.get_encumbrance("trappings") }}</td>
      </tr>
      <tr>
        <th>Max Enc</th>
        <td>{{ character.get_attribute_bonus("s") + character.get_attribute_bonus("t") }}</td>
      </tr>
      <tr>
        <th>Total</th>
        <td>{{ (character.get_attribute_bonus("s") + character.get_attribute_bonus("t")) - (character.get_encumbrance("weapons") + character.get_encumbrance("armor") + character.get_encumbrance("trappings")) }}</td>
      </tr>
    </table>
  </div>
  <div class="three-block">
    <h4>WOUNDS</h4>
    <table class="mechanics-table">
      <tr>
        <th>SB</th>
        <td>{{ character.get_attribute_bonus("s") }}</td>
      </tr>
      <tr>
        <th>TB</th>
        <td>{{ character.get_attribute_bonus("t") * 2 }}</td>
      </tr>
      <tr>
        <th>WPB</th>
        <td>{{ character.get_attribute_bonus("wp") }}</td>
      </tr>
      <tr>
        <th>Hardy</th>
        <td><input class="input-number" type="number"></td>
      </tr>
      <tr>
        <th>Total</th>
        <td>
          {{ character.get_attribute_bonus("s") + character.get_attribute_bonus("t") * 2 + character.get_attribute_bonus("wp") }}
        </td>
      </tr>
    </table>
  </div>
  <div class="three-block">
    <h4>CORRUPTION</h4>
    <table class="mechanics-table">
      <tr>
        <th>Threshold</th>
        <td><input class="input-number" type="number"></td>
      </tr>
      <tr>
        <th>Current</th>
        <td><input class="input-number" type="number"></td>
      </tr>
      <tr>
        <th>Mutations</th>
        <td><input class="input-number" type="number"></td>
      </tr>
      <tr>
        <th>Mental</th>
        <td><input class="input-number" type="number"></td>
      </tr>
      <tr>
        <th>Physical</th>
        <td><input class="input-number" type="number"></td>
      </tr>
    </table>
  </div>
</div>