<div class="flex-section">
  <div class="three-block">
    <h4>ENCUMBRANCE</h4>
    <table class="mechanics-table">
      <tr>
        <th>Weapons</th>
        <td><input type="number"></td>
      </tr>
      <tr>
        <th>Armor</th>
        <td><input type="number"></td>
      </tr>
      <tr>
        <th>Trappings</th>
        <td><input type="number"></td>
      </tr>
      <tr>
        <th>Max Enc</th>
        <td><input type="number"></td>
      </tr>
      <tr>
        <th>Total</th>
        <td><input type="number"></td>
      </tr>
    </table>
  </div>
  <div class="three-block">
    <h4>WOUNDS</h4>
    <table class="mechanics-table">
      <tr>
        <th>SB</th>
        <td><input type="number"></td>
      </tr>
      <tr>
        <th>TB</th>
        <td><input type="number"></td>
      </tr>
      <tr>
        <th>WPB</th>
        <td><input type="number"></td>
      </tr>
      <tr>
        <th>Hardy</th>
        <td><input type="number"></td>
      </tr>
      <tr>
        <th>Total</th>
        <td><input type="number"></td>
      </tr>
    </table>
  </div>
  <div class="three-block">
    <h4>CORRUPTION</h4>
    <table class="mechanics-table">
      <tr>
        <th>Threshold</th>
        <td><input type="number"></td>
      </tr>
      <tr>
        <th>Current</th>
        <td><input type="number"></td>
      </tr>
      <tr>
        <th>Mutations</th>
        <td><input type="number"></td>
      </tr>
      <tr>
        <th>Mental</th>
        <td><input type="number"></td>
      </tr>
      <tr>
        <th>Physical</th>
        <td><input type="number"></td>
      </tr>
    </table>
  </div>
</div>