<div>
  <h4>SPELLS AND PRAYERS</h4>
  <table>
    <tr>
      <th class="width-30">Spell/Prayer</th>
      <th class="width-10">CN</th>
      <th class="width-10">Range</th>
      <th class="width-10">Target</th>
      <th class="width-10">Duration</th>
      <th class="width-30">Effect</th>
    </tr>
    {% for item in character.spells_and_prayers|sort(attribute="name") %}
    <tr>
      <td><input class="input-text" type="text" name="spell_name_{{ item.id }}" value="{{ item.name }}"></td>
      <td><input class="input-number" type="number" name="spell_cn_{{ item.id }}" value="{{ item.casting_number }}"></td>
      <td><input class="input-text" type="text" name="spell_range_{{ item.id }}" value="{{ item.range }}"></td>
      <td><input class="input-text" type="text" name="spell_target_{{ item.id }}" value="{{ item.target }}"></td>
      <td><input class="input-text" type="text" name="spell_duration_{{ item.id }}" value="{{ item.duration }}"></td>
      <td><input class="input-text" type="text" name="spell_effect_{{ item.id }}" value="{{ item.effect }}"></td>
    </tr>
    {% endfor %}
    <tr>
      <td><input class="input-text" type="text" name="spell_name_new"></td>
      <td><input class="input-number" type="number" name="spell_cn_new"></td>
      <td><input class="input-text" type="text" name="spell_range_new"></td>
      <td><input class="input-text" type="text" name="spell_target_new"></td>
      <td><input class="input-text" type="text" name="spell_duration_new"></td>
      <td><input class="input-text" type="text" name="spell_effect_new"></td>
    </tr>
  </table>
</div>