<div>
<h4>WEAPONS</h4>
<table>
<tr>
<th class="width-30">Weapon</th>
<th class="width-10">Enc</th>
<th class="width-10">Range</th>
<th class="width-10">Damage</th>
<th class="width-40">Qualities</th>
</tr>
{% for item in character.weapons|sort(attribute="name") %}
<tr>
<td class="width-30"><input class="input-text" type="text" name="weapon_name_{{ item.id }}" value="{{ item.name }}"></td>
<td class="width-10"><input class="input-number" type="number" name="weapon_encumbrance_{{ item.id }}" value="{{ item.encumbrance }}"></td>
<td class="width-10"><input class="input-text" type="text" name="weapon_range_{{ item.id }}" value="{{ item.range }}"></td>
<td class="width-10"><input class="input-text" type="text" name="weapon_damage_{{ item.id }}" value="{{ item.damage }}"></td>
<td class="width-40"><input class="input-text" type="text" name="weapon_qualities_{{ item.id }}" value="{{ item.qualities }}"></td>
</tr>
{% endfor %}
<tr>
<td class="width-30"><input class="input-text" type="text" name="weapon_name_new"></td>
<td class="width-10"><input class="input-number" type="number" name="weapon_encumbrance_new"></td>
<td class="width-10"><input class="input-text" type="text" name="weapon_range_new"></td>
<td class="width-10"><input class="input-text" type="text" name="weapon_damage_new"></td>
<td class="width-40"><input class="input-text" type="text" name="weapon_qualities_new"></td>
</tr>
</table>
</div>