/* base design setup */
body {
    font-family: Copperplate, Papyrus, fantasy;
    margin: 0;
    padding: 0;
    background-color: #b8bcf7;
}
#nav-container {
    color: #700909;
    padding: 10px;
    width: 10%;
    position: sticky;
}
#sheet-container {
    margin: 10px;
    padding: 15px;
    position: relative;
    justify-content: center;
    background-color: rgb(136, 114, 100);
    width: 89%;
    border-radius: 10px;
}
.page-container {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(173, 160, 151);
}
.page-container > div {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 5px solid #0a1033;
}
.page-container > div:last-child {
    border-bottom: none;
}

img {
    width: 100%;
}
h4 {
    text-align: center;
    border-bottom: 2px solid #000000;
    padding: 5px;
    margin: 5px;
}
label {
    font-weight: bold;
}

/* general classes */
.flex {
    display: flex;
    justify-content: space-between;
}
.part-container {
    border-bottom: 5px solid #0a1033;
    width: 100%;
}

/* character description and logo */
.description-container {
    border-right: 4px solid #0a1033;
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 70%;
}
.description-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    border-right: 2px solid #000;
}
.description-container ul li {
    padding: 5px;
    text-align: left;
    display: flex;
    border-bottom: 2px solid #000;
}
.description-container ul li:last-child {
    border-bottom: none;
}
.description-container ul:last-child {
    border-right: none;
}
.description-container input {
    flex: 2;
    margin-left: 5px;
    background: none;
    border: none;
}
.description-container label {
    text-wrap: nowrap;
}
.logo-container {
    width: 30%;
    text-align: center;
}

/* fluff design */
.fluff-container {
    justify-content: center;
    padding: 5px;
    width: 100%;
    text-align: left;
    border-right: 3px solid #000;
}
.fluff-container input {
    background: none;
    border: none;
}
.fluff-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.fluff-container li {
    list-style-type: none;
    padding: 5px;
    text-align: left;
    border-bottom: 2px solid #000;
}
.fluff-container textarea {
    width: 99%;
    resize: vertical;
    border: none;
    background: none;
}
.fluff-container:last-child {
    border-right: none;
}
.fluff-container li:last-child {
    border-bottom: none;
}
div.wealth {
    width: 10% !important;
}
ul.wealth {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul.wealth li {
    padding: 5px;
    text-align: left;
    display: flex;
    border-bottom: 2px solid #000;
}
ul.wealth label {
    flex: 1;
    text-align: left;
    padding: 5px;
    margin: 5px;
}
ul.wealth li:last-child {
    border-bottom: none;
}
ul.wealth li input {
    background: none;
    border: none;
    width: 40px;
}

/* trappings and campaign notes design */
.trappings-container {
    padding: 5px;
    width: 50%;
    text-align: left;
    border-right: 3px solid #000;
}
.trappings-container table {
    padding: 5px;
    width: 100%;
    border-collapse: collapse;
}
.trappings-container table th {
    border-bottom: 2px solid #000;
    text-align: center;
}
.trappings-container table td {
    border-right: 2px solid #000;
    text-align: center;
}
.trappings-container table td:last-child {
    border-right: none;
    width: 40%;
}
.trappings-container table td:first-child {
    width: 40%;
}
.trappings-container input {
    background: none;
    border: none;
    width: 100%;
}
.trappings-container textarea {
    width: 100%;
    resize: vertical;
    border: none;
    background: none;
}

.notes-container {
    padding: 5px;
    width: 50%;
    text-align: center;
}
.notes-container textarea {
    width: 100%;
    resize: vertical;
    border: none;
    background: none;
}

/* doom design */
#doom {
    flex:1;
    text-align: left;
    background: none;
    border: none;
}
.doom-design {
    padding: 5px;
}

/* Characteristics table design */
.characteristics-container {
    width: 100%;
    padding: 5px;
    text-align: center;
}

h4.characteristics_header {
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-bottom: 2px solid #000000;
}

h4.skills-and-talents-header {
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-bottom: 2px solid #000000;
}
.skills-container {
    width: 50%;
    text-align: center;
}
.skills-and-talents-table input,
.talents-table input,
.battle-table input,
.mechanics-table input {
    border: none;
    background: none;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.skills-and-talents-table,
.talents-table,
.battle-table {
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
}

.skills-and-talents-table .name-column {
    width: 40%;
}

.skills-and-talents-table .trait-column {
    text-align: center;
    width: 20%;
}

.skills-and-talents-table .adv-column {
    width: 20%;
}

.skills-and-talents-table .skill-column {
    text-align: center;
    width: 20%;
}

.skills-and-talents-table td,
.talents-table td,
.battle-table td {
    border: 1px solid #000;
}

.flex-section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.flex-section > div {
    padding: 5px;
    border-right: 5px solid #0a1033;
}
.flex-section > div:last-child {
    border-right: none;
}
.two-block {
    width: 50%;
}


.battle-table .armor-name {
    width: 30%;
}
.battle-table .armor-encumbrance {
    width: 10%;
}
.battle-table .armor-points {
    width: 10%;
}
.battle-table .armor-location {
    width: 10%;
}
.battle-table .armor-qualities {
    width: 40%;
}

.battle-table .weapon-name {
    width: 30%;
}
.battle-table .weapon-encumbrance {
    width: 10%;
}
.battle-table .weapon-range {
    width: 10%;
}
.battle-table .weapon-damage {
    width: 10%;
}
.battle-table .weapon-qualities {
    width: 40%;
}

.battle-table .spell-name {
    width: 30%;
}
.battle-table .spell-cn {
    width: 10%;
}
.battle-table .spell-range {
    width: 10%;
}
.battle-table .spell-target {
    width: 10%;
}
.battle-table .spell-duration {
    width: 10%;
}
.battle-table .spell-effect {
    width: 30%;
}

.mechanics-table {
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
}

.mechanics-table td,
.mechanics-table th {
    border: 1px solid #000;
}

.health-notes > textarea {
    width: 100%;
    resize: vertical;
    border: none;
    background: none;
}
.health-notes {
    padding: 5px;
    width: 100%;
    text-align: center;
}

.battle-container {
    padding: 5px;
    width: 100%;
}

.ap-container {
    padding: 5px;
    text-align: center;
}
.ap-container img {
    width: 100%;
}

