<div class="flex-section part-container">
  <div class="description-container">
    <table class="description-table">
      <tr>
        <td colspan="2">
          <div class="inline">
            <label for="name">Name: </label>
            <input class="input-text" type="text" value="{{ character.name }}" name="name" id="name"/>
          </div>
        </td>
        <td>
          <div class="inline">
            <label for="species">Species: </label>
            <input class="input-text" type="text" value="{{ character.species }}" id="species" name="species"/>
          </div>
        </td>
        <td>
          <div class="inline">
            <label for="age">Age: </label>
            <input class="input-text" type="text" value="{{ character.age }}" name="age" id="age"/>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="inline">
            <label for="height">Height: </label>
            <input class="input-text" type="text" value="{{ character.height }}" name="height" id="height"/>
          </div>
        </td>
        <td>
          <div class="inline">
            <label for="hair">Hair: </label>
            <input class="input-text" type="text" value="{{ character.hair }}" name="hair" id="hair"/>
          </div>
        </td>
        <td>
          <div class="inline">
            <label for="eyes">Eyes: </label>
            <input class="input-text" type="text" value="{{ character.eyes }}" name="eyes" id="eyes"/>
          </div>
        </td>
        <td>
          <div class="inline">
            <label for="status">Status: </label>
            <input class="input-text" type="text" value="{{ character.status }}" name="status" id="status"/>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="inline">
            <label for="group">Class: </label>
            <input class="input-text" type="text" value="{{ character.group }}" name="group" id="group"/>
          </div>
        </td>
        <td>
          <div class="inline">
            <label for="career">Career: </label>
            <input class="input-text" type="text" value="{{ character.career }}" name="career" id="career"/>
          </div>
        </td>
        <td colspan="2">
          <div class="inline">
            <label for="careerpath">Career Path: </label>
            <input class="input-text" type="text" value="{{ character.careerpath }}" name="careerpath" id="careerpath"/>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="logo-container">
    <img
      src="{{ url_for('static', filename='figs/logo.png') }}"
      alt="LOGO"
    />
  </div>
</div>