<div class="flex-section part-container">
  <div class="description-container">
    <table class="description-table">
      <tr>
        <td colspan="2">
          <div class="inline">
            <label for="name">Name: </label>
            <input type="text" value="{{ character.name }}" name="name" id="name" class="input-text" />
          </div>
        </td>
        <td>
          <div class="inline">
            <label for="species">Species: </label>
            <input type="text" value="{{ character.species }}" id="species" name="species" class="input-text" />
          </div>
        </td>
        <td>
          <div class="inline">
            <label for="age">Age: </label>
            <input type="text" value="{{ character.age }}" name="age" id="age" class="input-text" />
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="inline">
            <label for="height">Height: </label>
            <input type="text" value="{{ character.height }}" name="height" id="height" class="input-text" />
          </div>
        </td>
        <td>
          <div class="inline">
            <label for="hair">Hair: </label>
            <input type="text" value="{{ character.hair }}" name="hair" id="hair" class="input-text" />
          </div>
        </td>
        <td>
          <div class="inline">
            <label for="eyes">Eyes: </label>
            <input type="text" value="{{ character.eyes }}" name="eyes" id="eyes" class="input-text" />
          </div>
        </td>
        <td>
          <div class="inline">
            <label for="status">Status: </label>
            <input type="text" value="{{ character.status }}" name="status" id="status" class="input-text" />
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="inline">
            <label for="career">Career: </label>
            <input type="text" value="{{ character.career }}" name="career" id="career" class="input-text" />
          </div>
        </td>
        <td colspan="2">
          <div class="inline">
            <label for="careerpath">Career Path: </label>
            <input type="text" value="{{ character.careerpath }}" name="careerpath" id="careerpath" class="input-text" />
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="logo-container">
    <img
      src="{{ url_for('static', filename='figs/logo.png') }}"
      alt="LOGO"
    />
  </div>
</div>