<div class="flex-section part-container">
  <div class="fluff-container">  
    <h4>PSYCHOLOGY</h4>
    <textarea name="psychology" id="psychology" class="textarea">{{ character.text_fields.psychology }}</textarea>
  </div>
  <div class="fluff-container">
    <h4>AMBITIONS</h4>
    <ul>
      <li>
        <label for="short_term_ambition">Short term: </label>
        <textarea id="short_term_ambition" name="short_term_ambition" class="textarea">{{ character.text_fields.short_term_ambition }}</textarea>
      </li>
      <li>
        <label for="long_term_ambition">Long term: </label>
        <textarea id="long_term_ambition" name="long_term_ambition" class="textarea">{{ character.text_fields.long_term_ambition }}</textarea>
      </li>
    </ul>
  </div>
  <div class="fluff-container">
    <h4><label for="party_name">PARTY:</label><input type="text" name="party_name" id="party_name" value="{{ character.party.name }}" class="input-text"></h4>
    <ul>
      <li>
        <label for="party_members">Members: </label>
        <textarea name="party_members" id="party_members" class="textarea">{{ character.party.members }}</textarea>
      </li>
      <li>
        <label for="party_ambitions">Ambitions: </label>
        <textarea name="party_ambitions" id="party_ambitions" class="textarea">{{ character.party.ambitions }}</textarea>
      </li>
    </ul>
  </div>
  <div class="fluff-container column">
    <h4>WEALTH</h4>
    <div>Gold: <input type="number" name="gold" id="gold" value="{{ character.gold }}" class="input-number"></div>
    <div>Silver: <input type="number" name="silver" id="silver" value="{{ character.silver }}" class="input-number"> </div>
    <div>Brass: <input type="number" name="brass" id="brass" value="{{ character.brass }}" class="input-number"></div>
  </div>
</div>