<div class="flex-section part-container">
  <div class="two-block" id="trappings">
    <h4>TRAPPINGS</h4>
    <table>
        <tr>
          <th class="width-30">Name</th>
          <th class="width-10">Enc</th>
          <th class="width-10">No.</th>
          <th class="width-50">Description</th>
        </tr>
        {% for item in character.trappings %}
        <tr>
          <td class="width-30"><input class="input-text" type="text" name="trappings_name_{{ item.id }}" value="{{ item.name }}"></td>
          <td class="width-10"><input class="input-number" type="number" name="trappings_enc_{{ item.id }}" value="{{ item.encumbrance }}"></td>
          <td class="width-10"><input class="input-number" type="number" name="trappings_quantity_{{ item.id }}" value="{{ item.quantity }}"></td>
          <td class="width-50"><div class="grow-wrap"><textarea name="trappings_description_{{ item.id }}" class="textarea" onInput="this.parentNode.dataset.replicatedValue = this.value">{{ item.description }}</textarea></div></td>
        </tr>
        {% endfor %}
        <tr>
          <td class="width-30"><input class="input-text" type="text" name="trappings_name_new"></td>
          <td class="width-10"><input class="input-number" type="number" name="trappings_enc_new"></td>
          <td class="width-10"><input class="input-number" type="number" name="trappings_quantity_new"></td>
          <td class="width-50"><div class="grow-wrap"><textarea name="trappings_description_new" class="textarea" onInput="this.parentNode.dataset.replicatedValue = this.value"></textarea></div></td>
        </tr>
    </table>
  </div>
  <div class="two-block column h-100" id="notes">
    <div>
    <h4>NOTES</h4>
      <textarea name="notes" id="notes" class="textarea" onInput="this.parentNode.dataset.replicatedValue = this.value">{{ character.text_fields.campaign_notes }}</textarea>
    </div>
    <div>
      <h4>Curriculum Vitae</h4>
      <table class="description-table">
        <tr>
          <th class="width-25">Class</th>
          <th class="width-30">Career</th>
          <th class="width-30">Path</th>
          <th class="width-15">Status</th>
        </tr>
        {% for entry in character.cv %}
        <tr>
          <td><input class="input-text" type="text" name="cv_group_{{ entry.id }}" value="{{ entry.group }}"></td>
          <td><input class="input-text" type="text" name="cv_career_{{ entry.id }}" value="{{ entry.career }}"></td>
          <td><input class="input-text" type="text" name="cv_path_{{ entry.id }}" value="{{ entry.careerpath }}"></td>
          <td><input class="input-text" type="text" name="cv_status_{{ entry.id }}" value="{{ entry.status }}"></td>
        </tr>
        {% endfor %}
        <tr>
          <td><input class="input-text" type="text" name="new_cv_group" id="new_cv_group"></td>
          <td><input class="input-text" type="text" name="new_cv_career" id="new_cv_career"></td>
          <td><input class="input-text" type="text" name="new_cv_path" id="new_cv_path"></td>
          <td><input class="input-text" type="text" name="new_cv_status" id="new_cv_status"></td>
        </tr>
      </table>
    </div>
  </div>
</div>