/* printing */
@media print {
    body {
        visibility: hidden;
    }
    .page-container {
        visibility: visible;
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
    }
}

/* base design setup */
body {
    font-family: Copperplate, Papyrus, fantasy;
    margin: 0;
    padding: 0;
    background-color: #b8bcf7;
}
.nav-container {
    color: #700909;
    padding: 10px;
    width: 20%;
    position: sticky;
}
.sheet-container {
    width: 80%;
    padding: 10px;
    overflow: scroll;
    background-color: rgb(136, 114, 100);
    border-radius: 10px;
}
.page-container {
    width: 210mm;
    height: 297mm;
    font-size: x-small;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(173, 160, 151);
}
.page-container form > div {
    width: 100%;
    border-bottom: 5px solid #0a1033;
}
.page-container form > div:last-child {
    border-bottom: none;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column > div {
    width: 100%;
    border-bottom: 5px solid #0a1033;
}
.column > div:last-child {
    border-bottom: none;
}

img {
    width: 100%;
}
h4 {
    text-align: center;
    border-bottom: 2px solid #000000;
    padding: 0px;
    margin: 2px;
}
label {
    font-weight: bold;
}


/* general classes */
.flex {
    display: flex;
    justify-content: space-between;
}
.part-container {
    border-bottom: 5px solid #0a1033;
    width: 100%;
}

/* character description and logo */
.description-container {
    width: 80%;
    text-align: center;
    border-right: 3px solid #000;
}
.description-table {
    border-collapse: collapse;
    border-style: hidden;
    height: 100%;
}
.description-table td {
    border: 1px solid #000;
    text-align: left;
}
.description-table td > div {
    width: 100%;
}
.description-table input {
    background: none;
    border: none;
    width: 100%;
}
.description-table label {
    font-size: small;
    font-weight: bold;
    text-wrap: nowrap;
}
.logo-container {
    width: 20%;
}

/* fluff design */
.fluff-container {
    justify-content: center;
    padding: 5px;
    width: 30%;
    text-align: left;
    border-right: 3px solid #000;
}
.fluff-container input {
    background: none;
    border: none;
}
.fluff-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.fluff-container li {
    list-style-type: none;
    padding: 5px;
    text-align: left;
    border-bottom: 2px solid #000;
}
.fluff-container textarea {
    width: 99%;
    resize: vertical;
    border: none;
    background: none;
}
.fluff-container:last-child {
    border-right: none;
}
.fluff-container li:last-child {
    border-bottom: none;
}
div.wealth {
    width: 10%;
}
ul.wealth {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul.wealth li {
    text-align: left;
}
ul.wealth label {
    flex: 1;
    text-align: left;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
}
ul.wealth li:last-child {
    border-bottom: none;
}
ul.wealth li input {
    background: none;
    border: none;
    width: 100%;
}
.party-name {
    display: flex;
    border-bottom: 2px solid #000;
}

#party_name {
    width: 100%;
    font-family: Copperplate, Papyrus, fantasy;
    font-weight: bold;
}
/* trappings and campaign notes design */
.trappings-container {
    padding: 5px;
    width: 50%;
    min-height: 100mm;
    text-align: left;
    border-right: 3px solid #000;
}
.trappings-container table {
    padding: 5px;
    width: 100%;
    border-collapse: collapse;
}
.trappings-container table th {
    border-bottom: 2px solid #000;
    text-align: center;
}
.trappings-container table td {
    border-right: 2px solid #000;
    text-align: center;
}
.trappings-container table td:last-child {
    border-right: none;
    width: 40%;
}
.trappings-container table td:first-child {
    width: 40%;
}
.trappings-container input {
    background: none;
    border: none;
    width: 100%;
}
.trappings-container textarea {
    width: 100%;
    resize: vertical;
    border: none;
    background: none;
}

.notes-container {
    padding: 5px;
    width: 50%;
    text-align: center;
}
.notes-container textarea {
    width: 100%;
    resize: vertical;
    border: none;
    background: none;
}

/* doom design */
#doom {
    flex:1;
    text-align: left;
    background: none;
    border: none;
}
.doom-design {
    padding: 5px;
}

/* Characteristics table design */

.skills-and-talents-table input,
.talents-table input,
.battle-table input,
.mechanics-table input {
    border: none;
    background: none;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.skills-and-talents-table,
.talents-table,
.battle-table {
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
}

.skills-and-talents-table .name-column {
    width: 40%;
}

.skills-and-talents-table .trait-column {
    text-align: center;
    width: 20%;
}

.skills-and-talents-table .adv-column {
    width: 20%;
}

.skills-and-talents-table .skill-column {
    text-align: center;
    width: 20%;
}

.skills-and-talents-table td,
.talents-table td,
.battle-table td {
    border: 1px solid #000;
}

.talents-table .name-column {
    width: 30%;
}

.talents-table .trait-column {
    width: 50%;
}

.talents-table .adv-column {
    width: 8%;
}

.talents-table .skill-column {
    width: 7%;
}

.talents-table .times-taken-column {
    width: 5%;
}

.flex-section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.flex-section > div {
    padding: 5px;
    border-right: 5px solid #0a1033;
}
.flex-section > div:last-child {
    border-right: none;
}
.two-block {
    width: 50%;
    text-align: center;
}
.three-block {
    width: 36%;
}
.three-block:nth-child(2) {
    width: 26%;
}
.three-block:nth-child(1) {
    width: 40%;
}

.container {
    padding: 5px;
    text-align: center;
}


.battle-table .armor-name {
    width: 30%;
}
.battle-table .armor-encumbrance {
    width: 10%;
}
.battle-table .armor-points {
    width: 10%;
}
.battle-table .armor-location {
    width: 10%;
}
.battle-table .armor-qualities {
    width: 40%;
}

.battle-table .weapon-name {
    width: 30%;
}
.battle-table .weapon-encumbrance {
    width: 10%;
}
.battle-table .weapon-range {
    width: 10%;
}
.battle-table .weapon-damage {
    width: 10%;
}
.battle-table .weapon-qualities {
    width: 40%;
}

.battle-table .spell-name {
    width: 30%;
}
.battle-table .spell-cn {
    width: 10%;
}
.battle-table .spell-range {
    width: 10%;
}
.battle-table .spell-target {
    width: 10%;
}
.battle-table .spell-duration {
    width: 10%;
}
.battle-table .spell-effect {
    width: 30%;
}

.mechanics-table {
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
}
.mechanics-table th {
    width: 60%;
}

.mechanics-table td,
.mechanics-table th {
    border: 1px solid #000;
}

.health-notes > textarea {
    width: 100%;
    resize: vertical;
    border: none;
    background: none;
}
.health-notes {
    padding: 5px;
    width: 100%;
    text-align: center;
}

.battle-container {
    padding: 5px;
}

.ap-container {
    width: 100%;
    text-align: center;
}

.inline {
    display: inline-flex;
    align-items: center;
}

.inline label {
    margin-right: auto;
}


