<div class="characteristics-container">
<h4 class="characteristics_header">Characteristics</h4>
<table class="characteristics-table">
  <tr>
      <th></th>
      <th>WS</th>
      <th>BS</th>
      <th>S</th>
      <th>T</th>
      <th>I</th>
      <th>Ag</th>
      <th>Dex</th>
      <th>Int</th>
      <th>WP</th>
      <th>Fel</th>
  </tr>
  <tr>
      <td>Initial</td>
      <td><input id="ws-init" name="ws-init" type="number" value="{{ character.attributes.ws_base }}"></td>
      <td><input id="bs-init" name="bs-init" type="number" value="{{ character.attributes.bs_base }}"></td>
      <td><input id="s-init" name="s-init" type="number" value="{{ character.attributes.s_base }}"></td>
      <td><input id="t-init" name="t-init" type="number" value="{{ character.attributes.t_base }}"></td>
      <td><input id="i-init" name="i-init" type="number" value="{{ character.attributes.i_base }}"></td>
      <td><input id="ag-init" name="ag-init" type="number" value="{{ character.attributes.ag_base }}"></td>
      <td><input id="dex-init" name="dex-init" type="number" value="{{ character.attributes.dex_base }}"></td>
      <td><input id="int-init" name="int-init" type="number" value="{{ character.attributes.int_base }}"></td>
      <td><input id="wp-init" name="wp-init" type="number" value="{{ character.attributes.wp_base }}"></td>
      <td><input id="fel-init" name="fel-init" type="number" value="{{ character.attributes.fel_base }}"></td>
  </tr>
  <tr>
      <td>Advances</td>
      <td><input id="ws-adv" name="ws-adv" type="number" value="{{ character.attributes.ws_modifier }}"></td>
      <td><input id="bs-adv" name="bs-adv" type="number" value="{{ character.attributes.bs_modifier }}"></td>
      <td><input id="s-adv" name="s-adv" type="number" value="{{ character.attributes.s_modifier }}"></td>
      <td><input id="t-adv" name="t-adv" type="number" value="{{ character.attributes.t_modifier }}"></td>
      <td><input id="i-adv" name="i-adv" type="number" value="{{ character.attributes.i_modifier }}"></td>
      <td><input id="ag-adv" name="ag-adv" type="number" value="{{ character.attributes.ag_modifier }}"></td>
      <td><input id="dex-adv" name="dex-adv" type="number" value="{{ character.attributes.dex_modifier }}"></td>
      <td><input id="int-adv" name="int-adv" type="number" value="{{ character.attributes.int_modifier }}"></td>
      <td><input id="wp-adv" name="wp-adv" type="number" value="{{ character.attributes.wp_modifier }}"></td>
      <td><input id="fel-adv" name="fel-adv" type="number" value="{{ character.attributes.fel_modifier }}"></td>
  </tr>
  <tr>
      <td>Bonuses</td>
      <td><input id="ws-bonus" name="ws-bonus" type="number" value="{{ character.attributes.ws_bonus }}"></td>
      <td><input id="bs-bonus" name="bs-bonus" type="number" value="{{ character.attributes.bs_bonus }}"></td>
      <td><input id="s-bonus" name="s-bonus" type="number" value="{{ character.attributes.s_bonus }}"></td>
      <td><input id="t-bonus" name="t-bonus" type="number" value="{{ character.attributes.t_bonus }}"></td>
      <td><input id="i-bonus" name="i-bonus" type="number" value="{{ character.attributes.i_bonus }}"></td>
      <td><input id="ag-bonus" name="ag-bonus" type="number" value="{{ character.attributes.ag_bonus }}"></td>
      <td><input id="dex-bonus" name="dex-bonus" type="number" value="{{ character.attributes.dex_bonus }}"></td>
      <td><input id="int-bonus" name="int-bonus" type="number" value="{{ character.attributes.int_bonus }}"></td>
      <td><input id="wp-bonus" name="wp-bonus" type="number" value="{{ character.attributes.wp_bonus }}"></td>
      <td><input id="fel-bonus" name="fel-bonus" type="number" value="{{ character.attributes.fel_bonus }}"></td>
  </tr>
  <tr>
      <td>Final</td>
      <td><input type="number" value="{{ character.get_attribute_total('ws') }}" id="ws" name="ws"></td>
      <td><input type="number" value="{{ character.get_attribute_total('bs') }}" id="bs" name="bs"></td>
      <td><input type="number" value="{{ character.get_attribute_total('s') }}" id="s" name="s"></td>
      <td><input type="number" value="{{ character.get_attribute_total('t') }}" id="t" name="t"></td>
      <td><input type="number" value="{{ character.get_attribute_total('i') }}" id="i" name="i"></td>
      <td><input type="number" value="{{ character.get_attribute_total('ag') }}" id="ag" name="ag"></td>
      <td><input type="number" value="{{ character.get_attribute_total('dex') }}" id="dex" name="dex"></td>
      <td><input type="number" value="{{ character.get_attribute_total('int') }}" id="int" name="int"></td>
      <td><input type="number" value="{{ character.get_attribute_total('wp') }}" id="wp" name="wp"></td>
      <td><input type="number" value="{{ character.get_attribute_total('fel') }}" id="fel" name="fel"></td>
  </tr>
</table>
</div>